.contenitore {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(img/disco.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  40px 40px;
  border: 3px lightgrey solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100px;
  width: 100px;
  overflow: auto;
  overflow: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: sans-serif;

}

h1, p{
  color: white;
}
